@if (restaurant(); as restaurant) {
<div routerLink="/restaurants/{{ restaurant.id }}" class="group cursor-pointer transform hover:scale-101 transition-all duration-300 font-pt-sans shadow-md shadow-black/70">
  <div class="bg-slate-900 rounded-2xl shadow-lg hover:shadow-2xl overflow-hidden">
    <div class="relative">
      <img
        [src]="restaurant.imageUrl || 'https://images.unsplash.com/photo-1414235077428-338989a2e8c0?w=640&h=360&fit=crop'"
        [alt]="restaurant.name"
        class="w-full h-70 object-cover group-hover:saturate-185 transition-transform duration-300 saturate-150"
      />
      <div class="absolute inset-0 bg-gradient-to-t from-black/40 to-transparent"></div>
      <div class="absolute bottom-4 left-4">
        <h4 class="text-white italic font-bold tracking-wider  text-xl mb-1">{{ restaurant.name }}</h4>
        <p class="text-white text-xs tracking-wider font-mono   ">{{ restaurant.description || 'Delicious food' }}</p>
      </div>
      @if (restaurant.avgRating) {
      <div class="absolute top-4 right-4 bg-yellow-500 text-white px-2 py-1 rounded-full text-sm font-bold">
        ⭐ {{ restaurant.avgRating | number:'1.1-1' }}
      </div>
      }
    </div>
    <div class="p-4">
      <div class="flex items-center justify-between font-mono">
        <span class="text-gray-300 text-xs">{{ restaurant.address }}</span>
        <span class="text-green-500/70 text-xs font-semibold">{{ restaurant.isActive ? 'OPEN' : 'CLOSED' }}</span>
      </div>
    </div>
  </div>
</div>
}
